@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;500&display=swap');

/* Headings text using Serif */
h1, h2, h3, .intro-title {
  font-family: 'Playfair Display', serif;
}

/* Body text using sans-serif */
body, p, li {
  font-family: 'Inter', sans-serif;
}

/* More space between posts */
.post-preview {
  padding: 20px 0;
}

/* Softer post title color */
.post-preview a {
  color: #2c3e50;
}

/* Add a line in the title
.intro-title {
  display: inline;
  background: linear-gradient(180deg, transparent 55%, #e74c3c 55%);
}
